# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 2.7
python: 3.6

# Install the codecov pip dependency
install:
  - pip install -r requirements.txt

# Run the unit test
script:
  - coverage run scripts/verify.py

# Push the results back to codecov
after_success:
  - codecov