# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 2.7
python: 3.7

# Cache dependencies
cache: pip

# Install the codecov pip dependency
install:
  - pip install -r requirements.txt

# Run the unit test
script:
  - coverage run make test 
  
# Push the results back to codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)
