# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 3.7
python: 3.7

# Cache dependencies
cache: pip

# Install the codecov pip dependency
install: 
  - pip install -r requirements.txt
  - pip install git+https://github.com/LandskapeAI/deeptest

# Run the unit test
script:
  - make test
  - coverage run tests/unit_t_ops.py
 
# Push the results back to codecov
after_success:
  - bash <(curl -s https://codecov.io/bash)
