#### TESTING-RELATED PACKAGES ####
# Checks style, syntax, and other useful errors.
flake8==3.7.9

# Automatic code formatting
black

# Handling Imports
isort

# Removing unused imports and variables
autoflake

# For UnitTests
parameterized

# For creating git precommit hooks
pre-commit==1.18.3

# For PyTorch, MegEngine and TensorFlow support
torch
tensorflow
megengine 

# For build coverage
codecov
pillow>=7.1.0 # not directly required, pinned by Snyk to avoid a vulnerability

# Primarily used for CLI parsing
fastcore

# Deep learning test suite
git+https://github.com/LandskapeAI/deeptest 
